/* Custom Base
========================================================================== */

/* Links
====================================== */
a:focus {
  @apply outline-none shadow-outline
}

.article a,
.not-found a {
  @apply bg-primary-100 text-primary-900 border-b border-primary-900
}

.footer a {
  @apply text-primary-900 border-b border-primary-900
}

.quote a {
  @apply text-neutral-600 border-b border-neutral-600
}

.article a:visited {
  @apply bg-secondary-100 text-secondary-900 border-b border-secondary-900
}

.footer a:visited {
  @apply bg-secondary-100 text-secondary-900 border-b border-secondary-900
}

.article a:active,
.footer a:active,
.quote a:active,
.not-found a:active {
  @apply border-b-2 font-bold
}

/* Transition
====================================== */
.trans-color {
  transition:
    background-color 100ms linear,
    color 100ms linear,
    border-color 100ms linear;
}

/* Selection
====================================== */
::-moz-selection { background: var(--primary-100); }
::selection { background: var(--primary-100); }

pre ::-moz-selection {
  background: var(--primary-400) !important;
  color: var(--neutral-900) !important;
}

pre ::selection {
  background: var(--primary-400) !important;
  color: var(--neutral-900) !important;
}

/* Code
====================================== */
code {
  @apply p-1 rounded bg-neutral-100 text-neutral-700
}

/* Grid
====================================== */
.grid {
  display: grid;
  grid-template-columns:
    minmax(theme('spacing.1'), 1fr)
    minmax(auto, 63ch)
    minmax(theme('spacing.1'), 1fr);
}

.grid pre {
  grid-column: 1 / 4;
  width: 100%;
  max-width: 100ch;
  justify-self: center;
}

.grid * {
  grid-column: 2;
}

/* A11y
====================================== */
@responsive {
  .visually-hidden {
    /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; width: 1px;
    overflow: hidden;
    position: absolute !important;
  }

  .visually-hidden-reset {
    clip: initial;
    height: initial; width: initial;
    overflow: initial;
    position: initial !important;
  }
}

/* Reach UI
====================================== */
[data-reach-skip-link] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

[data-reach-skip-link]:focus {
  padding: theme('spacing.2');
  position: fixed;
  top: theme('spacing.3');
  left: theme('spacing.3');
  background: theme('colors.primary.100');
  color: theme('colors.primary.900');
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}
