/* Variables
========================================================================== */

:root {

  --grey-900: hsl(209, 61%, 16%);
  --grey-800: hsl(211, 39%, 23%);
  --grey-700: hsl(209, 34%, 30%);
  --grey-600: hsl(209, 34%, 30%);
  --grey-500: hsl(210, 22%, 49%);
  --grey-400: hsl(209, 23%, 60%);
  --grey-300: hsl(211, 27%, 70%);
  --grey-200: hsl(210, 31%, 80%);
  --grey-100: hsl(212, 33%, 89%);
  --grey-50: hsl(210, 36%, 96%);

  --cyan-900: hsl(188, 91%, 23%);
  --cyan-800: hsl(186, 91%, 29%);
  --cyan-700: hsl(184, 90%, 34%);
  --cyan-600: hsl(182, 85%, 39%);
  --cyan-500: hsl(180, 77%, 47%);
  --cyan-400: hsl(178, 78%, 57%);
  --cyan-300: hsl(176, 87%, 67%);
  --cyan-200: hsl(174, 96%, 78%);
  --cyan-100: hsl(172, 97%, 88%);
  --cyan-50: hsl(171, 82%, 94%);

  --purple-900: hsl(276, 91%, 23%);
  --purple-800: hsl(274, 87%, 31%);
  --purple-700: hsl(274, 87%, 37%);
  --purple-600: hsl(274, 87%, 43%);
  --purple-500: hsl(273, 80%, 49%);
  --purple-400: hsl(268, 82%, 60%);
  --purple-300: hsl(264, 96%, 70%);
  --purple-200: hsl(262, 100%, 78%);
  --purple-100: hsl(262, 100%, 88%);
  --purple-50: hsl(262, 90%, 96%);

  --neutral-900: var(--grey-900);
  --neutral-800: var(--grey-800);
  --neutral-700: var(--grey-700);
  --neutral-600: var(--grey-600);
  --neutral-500: var(--grey-500);
  --neutral-400: var(--grey-400);
  --neutral-300: var(--grey-300);
  --neutral-200: var(--grey-200);
  --neutral-100: var(--grey-100);
  --neutral-50: var(--grey-50);

  --primary-900: var(--cyan-900);
  --primary-800: var(--cyan-800);
  --primary-700: var(--cyan-700);
  --primary-600: var(--cyan-600);
  --primary-500: var(--cyan-500);
  --primary-400: var(--cyan-400);
  --primary-300: var(--cyan-300);
  --primary-200: var(--cyan-200);
  --primary-100: var(--cyan-100);
  --primary-50: var(--cyan-50);

  --secondary-900: var(--purple-900);
  --secondary-800: var(--purple-800);
  --secondary-700: var(--purple-700);
  --secondary-600: var(--purple-600);
  --secondary-500: var(--purple-500);
  --secondary-400: var(--purple-400);
  --secondary-300: var(--purple-300);
  --secondary-200: var(--purple-200);
  --secondary-100: var(--purple-100);
  --secondary-50: var(--purple-50);
}